* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.hero {
  width: 100%;
  height: 110vh;
  background: linear-gradient(45deg, #6ac1c5, #bda5ff);
  position: relative;
}
#calendar {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.previousEvent {
  position: absolute;
  margin-top: 80px;
  left: 10%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: x-large;
  height: 100px;
  width: 80%;
  padding-top: 15px;
  background-color: black;
}
#oldestEventsList {
  position: absolute;
  margin-top: 860px;
  left: 10%;
  text-align: center;
  color: blue;
  list-style: none;
  font-weight: bold;
  font-size: x-large;
  height: 175px;
  width: 80%;
  background: radial-gradient(
    ellipse farthest-corner at center top,
    #f39264 0%,
    #f2606f 100%
  );
  color: #fff;
}
#oldestEventsList li {
  padding-top: 15px;
  padding-bottom: 10px;
  border-style: solid;
  text-align: center;
}
